* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

/* шапка з лого та меню */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background: #252525;
}

.logo img {
    height: 60px;
}

.spacer {
    flex: 1 auto;
}

.navigation {
    margin-right: 15px;
}

.navigation li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

.navigation li a {
    color: #fff;
    font-family: "Noto Sans", sans-serif;
}

.navigation li a:hover {
    font-weight: 600;
}

/* основна частина */
section {
    min-height: 600px;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* головна */
.home {
    padding-left: 50px;
}

body {
background-image: url("img/tile.png");
background-repeat: repeat-x repeat-y !important;
background-size: 113px, 113px;
  
  
}



.home h1 {
    color: #f5f5f5;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 100px;
    margin-bottom: 25px;
    max-width: 750px;
    width: 50%;
}

/*games*/

.home li {
background: #990000;
border: 4px solid #cc0000;background: #990000;
border: 4px solid #cc0000;
color: #fff;
display: inline-block;
font-family: "Noto Sans", sans-serif;
font-weight: 600;
padding: 10px 30px;
}
.about li {

    padding-left: 50px;
    color: #fff;

}
.about p {
    margin-bottom: 20px;
    color: #d8d8d8;
    font-size: 0.9em;
    color: #f5f5f5;
    line-height: 1.5;
    margin-top: 100px;
    margin-bottom: 25px;
    max-width: 750px;
    width: 50%;
    padding-left: 50px;
}

/* про гру */


.about h1 {
    color: #f5f5f5;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    margin: 25px 0;
}

.home p {
    margin-bottom: 20px;
    color: #d8d8d8;
    font-size: 0.9em;
}

.about-image {
    display: block;
    height: 200px;
    margin: 10px auto;
}

.icon {
    display: block;
    margin: 0 auto;
}

/* топ 
.top {
    background-image: url("img/bg-dark.png");
    background-size: cover;
    color: #d1cfce;
}

.top h2 {
    text-align: center;
}

.top-list {
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.top-list-item {
    width: 33%;
    list-style: none;
    border: 1px solid #f1edec;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

.top-image {
    width: 100%;
}

h3 {
    margin: 10px 10px 20px;
}

h3 small {
    display: block;
    font-weight: 400;
}

.top-list-item p:first-of-type {
    margin-bottom: 45px;
}

.seed {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.with-icon {
    width: fit-content;
    margin: 0 auto;
}

.with-icon a {
    color: #fff;
    transition: font-weight .3s;
    cursor: help;
}

.with-icon a:hover {
    font-weight: 600;
}
 */


 .test1 {
    background: linear-gradient(#2f00ff, #ff9100, #00ff40);
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
}

.my-work {
  margin-right: 15px;
}

.my-work li a {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  }